doctype html
head
  title Calculator
  link(rel='stylesheet' href='/css/calc.css')
body(ng-app="CalcApp")
  .calculator

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
  script.
    var app = angular.module('CalcApp', []);

    app.directive('calculator', function () {
      return {
        restrict: 'C',
        templateUrl: '/templates/calc.html'
      };
    });
