doctype html
head
  title Calculator
  link(rel='stylesheet' href='/css/calc.css')
body

  .calculator
    input(type='text')
    table(cellpadding=0 cellspacing = 0)
      tr
        td: button MC
        td: button M+
        td: button M-
        td: button MR
      tr
        td: button C
        td: button +=
        td: button /
        td: button &times;
      tr
        td: button 7
        td: button 8
        td: button 9
        td: button -
      tr
        td: button 4
        td: button 5
        td: button 6
        td: button +
      tr
        td: button 1
        td: button 2
        td: button 3
        td(rowspan="2").equals: button =
      tr
        td(colspan=2): button 0
        td: button .

