doctype html
head
  title Calculator
  link(rel='stylesheet' href='/css/calc.css')
body(ng-app="CalculatorApp")
  .calculator

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')

  script(src='/js/directives/modules.js')
  script(src='/js/directives/calculator.js')
  script(src='/js/directives/calculatorCommand.js')
  script(src='/js/app.js')
