input(type='text', ng-model='value')
table(cellpadding=0, cellspacing=0)
  tr
    td: button(calculator-command) MC
    td: button(calculator-command) M+
    td: button(calculator-command) M-
    td: button(calculator-command) MR
  tr
    td: button(calculator-command) C
    td: button(calculator-command) +-
    td: button(calculator-command) /
    td: button(calculator-command) *
  tr
    td: button(calculator-command) 7
    td: button(calculator-command) 8
    td: button(calculator-command) 9
    td: button(calculator-command) -
  tr
    td: button(calculator-command) 4
    td: button(calculator-command) 5
    td: button(calculator-command) 6
    td: button(calculator-command) +
  tr
    td: button(calculator-command) 1
    td: button(calculator-command) 2
    td: button(calculator-command) 3
    td(rowspan=2).equals: button(calculator-command) =
  tr
    td(colspan=2).zero: button(calculator-command) 0
    td: button(calculator-command) .

